.movieverse-title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

.letter {
  display: inline-block;
  animation: flicker 0.2s infinite alternate;
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.6; }
  100% { opacity: 1; }
}
